# Backend configuration
DB_HTTP=mongo-castudy
DB_PORT=27017
DB_NAME=ipu-ocrv6
DB_ACC=admina
DB_PAS=ducanhdepzai


LLM_BASEAPI=http://172.16.125.200:33040/
API_KEY=qwen35b@
POLL_INTERVAL=300

# Frontend configuration
NEXT_PUBLIC_BACKEND_URL=https://cartoons-brave-glance-ability.trycloudflare.com

# MongoDB configuration
MONGO_INITDB_ROOT_USERNAME=admina
MONGO_INITDB_ROOT_PASSWORD=ducanhdepzai
MONGO_INITDB_DATABASE=ipu-ocrv6
